if googleAnalyticsId
  script(src='https://www.googletagmanager.com/gtag/js?id=UA-112394023-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-112394023-1');
