body {
  padding-top: 50px;
}

.list-video-group .list-video-item .list-video-item-info {
  margin-bottom: 0;
  font-size: 0.8em;
  margin-top: 2px;
}

.list-video-group .list-video-item .video-title {
  font-size: 1.1em;
  color: #337ab7;
}