extends layout

block content
  h3 О проекте
  p Данный проект предназначен для поиска роликов YouTube с накрученными лайками/дизлайками. Проект в автоматическом режиме собрает статистику и отмечает подозрительные ролики.
   
