extends layout

block content
  div.list-header
    h3 О проекте

  p.
    Данный проект предназначен для поиска роликов YouTube с накрученными 
    лайками/дизлайками. Проект в автоматическом режиме собирает статистику 
    и отмечает подозрительные ролики.
  h4 Принцип работы
  ol
    li Получает список видео, которые попали в тренды Youtube, для каждого видео запускается сбор статистики.
    li Периодически запрашивает и сохраняет в базу данных текущее количество лайков/дизлайков/просмотров для видео.
    li Отмечаются видео, у которых есть резкий скачок количества лайков/дизлайков.

  h4 Плагин для Google Chrome
  p.
    <a href="https://chrome.google.com/webstore/detail/tube-warden/jnphebeelkkkdkebpnobcdbmjggdaaif">Плагин</a> 
    на странице трендов YouTube отображает текущее количество лайков/дизлайков и историю их изменения, а так же отмечает
    подозрительные видео. Если есть подозрение на накрутку лайков, то в информационной панели для таких роликов выделен зеленым цветом палец вверх. 
    Если есть подозрение на накрутку дизлайков, то в информационной панели для таких роликов выделен красным цветом палец вниз:

  div
    img(src="https://lh3.googleusercontent.com/2gyJ2R6FzinW45srNH0dzcbH4mrPU_hI8nYmgXIVBy_KFd7ym6EeL-qxfetE5z6vqymP4-Q-6Q=w640-h400-e365")
  
  h4 Поддержать проект
  h5 Яндекс Деньги
  p 410011027511409

   
