extends layout

block content

  div.list-header
    h3 Подозрение на накрутку лайков
    div Последние видео из трендов Youtube у которых в графике изменения количества лайков замечены резкие перепады

  div.list-group.list-video-group
    each video in videoListLike
      include includes/item.pug
          

  div.list-header
    h3 Подозрение на накрутку дизлайков
    div Последние видео из трендов Youtube у которых в графике изменения количества дизлайков замечены резкие перепады
  div.list-group.list-video-group
    each video in videoListDislike
      include includes/item.pug    


  div.panel.panel-default
    div.panel-heading Статистика
    div.panel-body
      p Обработано видео: 
        i= totalVideoCount
      p Выявлено нарушений:
        i= totalViolationCount
