extends layout

block content
  div
    h3 Подозрение на накрутку лайков
    div.list-group.list-video-group
      each video in videoListLike
        include includes/item.pug
          

  div
    h3 Подозрение на накрутку дизлайков
    div.list-group.list-video-group
      each video in videoListDislike
        include includes/item.pug


    p  
      a(href='https://chrome.google.com/webstore/detail/tube-warden/jnphebeelkkkdkebpnobcdbmjggdaaif' ) Плагин для Google Chrome
      
