extends layout

block content
  div
    h3 Подозрение на накрутку лайков
    div.list-group.list-video-group
      each video in videoListLike
        include includes/item.pug
          

  div
    h3 Подозрение на накрутку дизлайков
    div.list-group.list-video-group
      each video in videoListDislike
        include includes/item.pug    


  div.panel.panel-default
    div.panel-heading Статистика
    div.panel-body
      p Обработано видео: 
        i= totalVideoCount
      p Выявлено нарушений:
        i= totalViolationCount
