doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title TubeWarden - сбор статистики, определение накрутки в роликах YouTube
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

    script()
    block head
  body

    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") TubeWarden
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/summary") Статистика
            li
              a(href="/videos") Все видео
            li
              a(href="/about") О проекте
            li.dropdown
              a#dropDownMenuPlugins.dropdown-toggle(role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="true") Плагины
                span.caret
              ul.dropdown-menu(aria-labelledby="dropDownMenuPlugins")
                li
                  a(href="https://chrome.google.com/webstore/detail/tube-warden/jnphebeelkkkdkebpnobcdbmjggdaaif") Chrome
                li
                  a(href="https://addons.mozilla.org/ru/firefox/addon/tube-warden/") Firefox
            li
              a(href="https://github.com/SHTrassEr/TubeWarden") GitHub

    div.container
      block content

  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
  script(src='/javascripts/common.js')
  block script

  include includes/analytics.pug
