extends layout

block head

  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
  script(src='/javascripts/statistics.js')

block content
  h1 TubeWarden
  p 
    a(href='https://www.youtube.com/watch?v=' + videoId )= title
  p
    canvas#statisticsLikeChart(height=300)

  p
    canvas#statisticsViewChart(height=300)

block script
  script.
    videoId='#{videoId}'