extends layout

block content
  h3 Статистика

  p 
    a(href='https://www.youtube.com/watch?v=' + videoId )= title
  p
    canvas#statisticsLikeChart(height=300)

  p
    canvas#statisticsViewChart(height=300)

block script
  script.
    videoId='#{videoId}'

  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
  script(src='/javascripts/statistics.js')
