extends layout

block content
  div.list-header
    h3 Общая статистика по всем видео

  div.row
    div.col-md-6
      div.panel.panel-default
        div.panel-heading По всем видео
        div.panel-body
          canvas#summaryTotalVideoChart(height=100)

    div.col-md-6
      div.panel.panel-default
        div.panel-heading По нарушениям 
        div.panel-body
          canvas#summaryTotalVideoRatingChart(height=100)
    


block script

  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
  script(src='/javascripts/summary.js')
