extends layout

block content
  div.list-header
    h3 Все видео
    p Все видео Youtube по которым собиралась статистика
    
    div.btn-group
      each filter in filterList
        if (filter.url == currentFilter.url)
          a.btn.btn-default.active(type="button" href=filter.url)=filter.title
        else 
          a.btn.btn-default(type="button" href=filter.url)=filter.title



  div.list-group.list-video-group
    each video in videoList
        include includes/item.pug

  nav
    ul.pager
      if (pager.previousPage)
        li.previous
          a(href=currentFilter.url + pager.previousPage) Назад
      if (pager.nextPage)
        li.next
          a(href=currentFilter.url + pager.nextPage) Дальше
